@font-face {
  font-family: "Art Metropol";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/Art Metropol.ttf');
}
@font-face {
  font-family: "Blade";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/Blade 2.ttf');
}
@font-face {
  font-family: "Las Enter";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/Las Enter.ttf');
}
@font-face {
  font-family: "Neon 1";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/Neon.TTF');
}
@font-face {
  font-family: "Neon 2";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/Neon 2.ttf');
}
@font-face {
  font-family: "Neon Glow";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/Neon Glow.ttf');
}
@font-face {
  font-family: "Tribal Box";
  src: url('https://rawgit.com/AmethystAnimion/AnimionAPI-DataBases/master/Fonts/The Tribal Box.ttf');
}
